[submodule "app/Plugin/ContactForm"]
	path = app/Plugin/ContactForm
	url = git@github.com:pinoytech/ContactForm.git
[submodule "app/Plugin/Blog"]
	path = app/Plugin/Blog
	url = git@github.com:pinoytech/Blog.git
[submodule "app/Plugin/Gallery"]
	path = app/Plugin/Gallery
	url = git@github.com:pinoytech/Gallery.git
[submodule "CakePHP"]
	path = CakePHP
	url = git@github.com:cakephp/cakephp.git
[submodule "app/Plugin/Upload"]
	path = app/Plugin/Upload
	url = git://github.com/josegonzalez/upload.git
