/* Regular */

body {
    background: #F2F2F2;
    background-image: url('../img/body_background.png');
}

.body {}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alef', sans-serif;
    text-shadow: #fff 0px 1px 1px;
}

.header {
	margin-bottom: 20px;
}

.header > h3{
	font-weight: normal;
}

.hero-unit h2, .hero-unit p {
    color: #FFF;
}

.display {
    height: 200px;
}

.left-bordered {
    border-left: 1px solid;
    padding-left: 30px;
}

.max-height {
    padding: 50px 0 125px 0;
    height: 100px;
}

.installation textarea{
    height: 200px;
}

.footer {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.post-footer {
    font-style: italic;
}

.divider {
    margin: 30px 0 50px 0;
}

.navbar .navbar-inner .container .find-me li a{
    padding: 10px 5px;
}